@import url(reset.css);
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem ;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    height: 2rem;
    color: var(--text-color-white);
    height: 4.5rem;
}
.logo {
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo img{
    border-radius: 0.625rem;
    width: 3rem;
    height: auto;
}
.logo2{
    display: flex;
    align-items: center;
    gap: 0.5rem; 
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo2 img{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}
.logo2 i{
    font-size: 2rem;
}
.header span{
   margin-right: 3rem;
   cursor: pointer;
}
main{
    margin-top: 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
}
.title{
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
}
.title h1{
    color: var(--titre-color);
    font-size: 3.5rem;
}
.bars{
    width: 70%;
    background-color: var(--main-color);
    height: 0.2rem;
}
.footer{
    margin-top: 5rem;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 2rem;
    background-color: var(--main-color);
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-white);
    height: 4.5rem;
}
.carte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 30rem;
    background-color: var(--second-bg-color);
    box-shadow: 0 0 .4rem var(--main-color);
    padding: 1 2rem;
    row-gap: 4rem;
}
.carte p{
    width: 60%;
    font-size: 1.5rem;
}

.carte .form input[type="text"]{
    border: solid 0.15rem transparent;
    border-radius: 2rem;
    line-height: 3rem;
    width: 100%;
    padding-left:2rem ;
    background-color: var(--second-bg-color);
    color: black;
    cursor: pointer;
    line-height: 3.5rem;
    margin-bottom: 1rem;
    transition: box-shadow .6s ease-in-out;
    border-bottom-color: var(--main-color);
}

.carte .form input[type="button"]{
    margin-left: 5rem;
    border-radius: 2rem;
    width: 80%;
    background: linear-gradient(50deg, var(--second-main-color), var(--main-color));
    cursor: pointer;
    line-height: 3.5rem;
    border-bottom-color: var(--main-color);
    color: var(--text-color-white);
    text-align: center;
}
.carte input[type="text"]:focus{
    box-shadow: 0 0 1rem var(--main-color);
    outline: none;
    border-color: var(--main-color);
} 
.sec-accueil{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width:  60%;
    justify-content: center;
    align-items: center;
}
.carte-accueil{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: var(--second-bg-color);
    box-shadow: 0 0 .4rem var(--main-color);
    padding: 2rem;
    width: 40%;
}
.carte-accueil p{
    font-size: 1rem;
    line-height: 1.5rem;
}
.items{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

}
.img-pers{
    border-radius:  2rem;
    box-shadow: 0 0 .1rem var(--main-color);
}
.social-icons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Espacement entre chaque ligne */
}

.social-icons div {
    display: flex;
    align-items: center; /* Alignement vertical des icônes et du texte */
    gap: 0.5rem; /* Espacement entre l'icône et le texte */
    flex-wrap: nowrap;
}
.social-icons span {
    font-size: 0.9rem; 
    white-space: nowrap; 
    opacity: 0.8;
}
.social-icons a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: 0.125rem solid var(--main-color);
    font-size: 1.2rem;
    border-radius: 50%;
    color: var(--main-color);
    transition: 0.3s ease-in-out;
}

.social-icons a:hover {
    color: var(--main-color);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 1.563rem var(--main-color);
    background-color: white;
}
.button{
    margin-left: 5rem;
    border-radius: 2rem;
    background: linear-gradient(50deg, var(--second-main-color), var(--main-color));
    cursor: pointer;
    line-height: 3.5rem;
    border-bottom-color: var(--main-color);
    color: var(--text-color-white);
    text-align: center;
}

/* .form{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    align-items: center;
}
.form input{
    border: solid 0.15rem transparent;
    border-radius: 2rem;
    height: 4rem;
    width: 80%;
    padding-left:1rem ;
    background-color: #e4e0e0;
    color: black;
    cursor: pointer;
    line-height: 3.5rem;
    margin-bottom: 1rem;
    transition: all .6s ease-in-out;
    border-bottom-color: black;
}
.form input[type="text"]:focus{
        box-shadow: 0 0 1rem #1998f2;
        outline: none;
} */
